# Practice

## 연습문제1
공무원 시험 결과가 국어, 영어, 한국사, 선택 교과1, 선택 교과2의 점수가 리스트 형태로 제공됩니다. 
이때 한 과목이라도 60점 미만이면 과락입니다.   
과락이면 False를 과락이 아니면 True를 출력하도록 코드를 완성해보세요.

In [11]:
scores = [88, 73, 89, 59, 77]
print(scores[0] >= 60 and scores[1] >= 60 and scores[2] >= 60 and scores[3] >= 60 and scores[4] >= 60)
print(scores[0] and scores[1] and scores[2] and scores[3] and scores[4] < 60)
for i in range(len(scores)):
    if scores[i] < 60:
        print(False)

False
False
False

## 연습문제2

In [68]:
name = input("이름을 입력하세요:")
print(name + "씨, 안녕하세요 \n파이썬에 오신 것을 환영합니다.")
fir = int(input("첫 번째 정수를 입력하세요:"))
sec = int(input("두 번째 정수를 입력하세요:"))
print(fir, "과", sec, "의 합은", fir + sec, "입니다.")

이름을 입력하세요: 엔코아

엔코아씨, 안녕하세요
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

## 연습문제 3

In [1]:
where = input("경기장은 어디입니까?")
win = input("이긴 팀은 어디입니까?")
lose = input("진 팀은 어디입니까?")
mvp = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")

print("---------------------------------")
print("[속보]",win, "가", score,"로 승리...")
print("오늘", where ,"경기장에서 야구 경기가 있었습니다.")
print(win, "과" , lose ,"는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", mvp, "가 맹활약을 했습니다.")
print("그 끝내", win, "가", lose, "를" , score, "로 승리하였습니다. \n기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? ㅇ
진 팀은 어디입니까? ㅇ
우수 선수는 누구입니까? ㅇ
스코어는 몇대몇입니까? ㅇ

---------------------------------
[속보] ㅇ 가 ㅇ 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
ㅇ 과 ㅇ 는 치열한 공방전을 펼쳤습니다.
이 경기에서 ㅇ 가 맹활약을 했습니다.
그 끝내 ㅇ 가 ㅇ 를 ㅇ 로 승리하였습니다.
기사 끝.

## 연습문제 4
사용자로부터 "hh:mm:ss" 형태의 시간 값을 입력 받는다. 예를 들어 12시 33분 23초일 때 "12:33:23"과 같이 입력을 받는다.

In [8]:
hh, mm, ss = input("hh:mm:ss의 형태로 시간을 입력해주세요").split(":")

print("시:", hh)
print("분:", mm)
print("초:", ss)

hh:mm:ss의 형태로 시간을 입력해주세요 12:33:23

시: 12
분: 33
초: 23

## 연습문제 5

In [105]:
score = list(map(int, input("국어, 영어, 수학, 과학 점수를 입력해주세요").split(',')))
avg = sum(score) / len(score)
print("평균 점수는", avg, "점입니다.")

kor, eng, mat, sci = map(int, input("국어, 영어, 수학, 과학 점수를 입력해주세요").split(','))
avg2 = (kor+eng+mat+sci)/4
print("평균 점수는", avg2, "점입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점입니다.

국어, 영어, 수학, 과학 점수를 입력해주세요 98,96,100,100

평균 점수는 98.5 점입니다.

## 연습문제 6

In [10]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute ='33'
second = '23'

print(year, month, day, sep = '/', end = " ")
print(hour, minute, second, sep = ":")

2021/02/03 18:33:23

## 연습문제 7

In [17]:
apple, mandarin = map(int, input("사과와 귤을 몇개 드릴까요?").split(','))
hap = apple*1000 + mandarin*200

print("\n실행결과:")
print("총 가격은 ", hap, "원입니다.", sep ="")

사과와 귤을 몇개 드릴까요? 10,20

실행결과:
총 가격은 14000원입니다.

# if

## 연습문제 1

사용자로부터 아이디를 입력받습니다.  
이때 아이디가 "admin"이면 '최고 관리자, 모든 권한을 갖습니다.'를 출력하고 프로그램을 종료  
아이디가 'admin'이 아니면 회원 등급을 정수로 입력받습니다.   
만약 회원 레벨이 1~3 사이 값이면 '제한적인 권한을 갖습니다.'를 출력하고,   
그렇지 않으면 '권한이 없습니다.'를 출력하는 프로그램을 작성

In [1]:
print("실행결과:")

id = input("아이디를 입력하세요:")

if id != "admin":
    grade = int(input("회원등급을 입력해주세요:"))
    if 1 <= grade <= 3:
        print("\n제한적인 권한을 갖습니다.")
    else:
        print("\n권한이 없습니다.")
else:
    print("최고 관리자, 모든 권한을 갖습니다.")

실행결과:

아이디를 입력하세요: admin

최고 관리자, 모든 권한을 갖습니다.

## 연습문제 2

#### 사용자로부터 자연수를 입력받습니다. 그 숫자에서 50을 뺀 값을 출력하세요
- 단 출력 값의 범위는 0이상 입니다.   
- 50을 뺀 결과가 음수가 될 경우 0을 출력해야 합니다.

In [6]:
print("실행결과:")

num = int(input("자연수 하나를 입력해주세요:"))
if (num - 50) > 0:
    print(num - 50)
else:
    print(0)

실행결과:

자연수 하나를 입력해주세요: 21

0

해설
``` python 
int_value = int(input("자연수 입력"))

result = int_value - 50

if result < 0:
    print(0)
print(result)

```

In [7]:
int_value = int(input("자연수 입력"))

result = int_value - 50

if result < 0:
    print(0)

자연수 입력 21

0
-29

## 연습문제 3
사용자로부터 자연수 입력받기  
값이 짝수인지 홀수인지 화면에 출력

In [8]:
print("실행결과:")

num = int(input("자연수 하나를 입력해주세요: "))

if num % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

실행결과:

자연수 하나를 입력해주세요:  21

홀수입니다.

## 연습문제 4
사용자로부터 소프트웨어 설계, 소프트웨어 개발, 데이터베이스 구축, 프로그래밍 언어 활용, 정보시스템 구축관리 점수를 입력 받습니다.  
과목 평균 점수가 60점 이상일 때 합격, 평균점수에 따라 "합격", "불합격"을 출력하는 프로그램을 만드시오  
- 점수는 0부터 100점까지만 유효, 이를 벗어난 점수가 입력되면 "잘못된 점수입니다."를 출력하고 "합격", "불합격"을 출력하는 프로그램을 작성   
- 과목별 점수는 일단 전부 입력 받는다.

In [16]:
sw_design = int(input("소프트웨어 설계 점수를 입력하세요"))
sw_develop = int(input("소프트웨어 개발 점수를 입력하세요"))
db = int(input("데이터베이스 구축 점수를 입력하세요"))
pg = int(input("프로그래밍 언어 활용 점수를 입력하세요"))
info = int(input("정보시스템 구축관리 점수를 입력하세요"))
avg =(sw_design + sw_develop + db + pg + info ) /5

if 0 <= sw_design <= 100 and 0 <= sw_develop <= 100 and 0 <= db <= 100 and 0 <= pg <= 100 and 0 <= info <= 100:
    if avg >= 60:
        print("합격")
    else:
        print("불합격")
else:
    print("잘못된 점수입니다.")

소프트웨어 설계 점수를 입력하세요 -7
소프트웨어 개발 점수를 입력하세요 40
데이터베이스 구축 점수를 입력하세요 30
프로그래밍 언어 활용 점수를 입력하세요 60
정보시스템 구축관리 점수를 입력하세요 50

잘못된 점수입니다.

## 연습문제 5

In [18]:
print("실행 결과:")

temp = float(input("현재 물의 온도를 입력해주세요."))
if temp >= 100:
    print("기체로 예상됩니다.")
elif temp >=0:
    print("액체로 예상됩니다.")
else:
    print("고체로 예상됩니다.")

실행 결과:

현재 물의 온도를 입력해주세요. -0.12

고체로 예상됩니다.

## 연습문제 6
일반 시내 버스 요금을 받는 프로그램을 만들려고 합니다.  
성인(19세 이상)이면 1500원 청소년(12 ~ 18세)이면 1100원 어린이(6~11세)면 800원을 받고 미취학 아동은 무료입니다.   
사용자로부터 나이를 입력받고 나이에 따른 일반 시내 버스 요금을 출력하세요

In [26]:
print("실행결과: ")

age = int(input("자신의 나이를 입력하세요"))
fee1 = 1500
fee2 = 1100
fee3 = 800
if age >= 19:
    print(fee1,"원", sep ="")
elif age >= 12:
    print(fee2,"원", sep = "")
elif age >= 6:
    print(fee3,"원", sep ="")
else:
    print("무임승차입니다.")

실행결과:

자신의 나이를 입력하세요 19

1500원

## 연습문제 7
A사는 B사에서 C상품($10/개)를 납품합니다. 발주 수량에 따라 수량할인을 고려하여 납품가가 달라집니다. 
1000개 미만은 수량할인이 적용되지 않습니다. 
1000개부터 1500개까지 5%, 1500개 초과 2000개까지 10%를 할인합니다. 
2000개 초과부터는 20%를 할인합니다. 
발주수량을 사용자로부터 입력 받고 총 발주금액을 출력하는 프로그램을 작성

In [44]:
print("실행결과: ")
num = int(input("발주 수량을 입력하세요"))
print(num,"개를 주문하셨습니다.", sep ="" )

if num < 1000: 
    rate = 0
    print("할인율이 적용되지 않습니다.")
elif 1000 <= num <= 1500:
    rate = 0.05
elif 1500 < num <= 2000:
    rate = 0.1
elif num > 2000:
    rate = 0.2
order_price =  int(num*(1-rate)*10)
print("적용 할인율은 ", int(rate*100), "%입니다.", sep ="")
print("총 발주 금액은 $", order_price , "입니다.", sep ="" )

실행결과:

발주 수량을 입력하세요 999

999개를 주문하셨습니다.
할인율이 적용되지 않습니다.
적용 할인율은 0%입니다.
총 발주 금액은 $9990입니다.

## 연습문제 8

In [52]:
print("실행결과:")
num = list(map(int, input("주민번호 뒷자리를 입력하세요")))

if len(num) != 7:
    print("자리수를 잘못 입력했습니다.")
elif num[0] == 1 or num[0] == 3:
    print("남자")
elif num[0] == 2 or num[0] == 4:
    print("여자")
else:
    print("잘못된 입력입니다.")

실행결과:

주민번호 뒷자리를 입력하세요 21

자리수를 잘못 입력했습니다.

## 연습문제 9

In [71]:
print("실행결과:")
year = int(input("확인할 연도를 입력하세요"))

if year % 4 == 0:
    if year % 100 == 0 and year % 400 != 0:
        print("평년입니다.")
    else:
        print("윤년입니다.")
else:
    print("평년입니다.")

실행결과:

확인할 연도를 입력하세요 1900

평년입니다.

In [80]:
## if - else 한 번만 사용해서 작성
print("실행결과:")
year = int(input("확인할 연도를 입력하세요"))

if year % 4 == 0 and (year % 400 == 0 or year % 100 != 0):
    print("윤년입니다.")
else:
    print("평년입니다.")

실행결과:

확인할 연도를 입력하세요 1900

평년입니다.

# For

## 연습문제 1

In [81]:
print("실행결과:")
num = int(input("인사 몇 번 해드릴까요?"))
for i in range(num):
    print("Hello world")

실행결과:

인사 몇 번 해드릴까요? 3

Hello world
Hello world
Hello world

## 연습문제 2

In [82]:
print("실행결과:")
for i in range(1, 101):
    print("Hello world", i)

실행결과:
Hello world 1
Hello world 2
Hello world 3
Hello world 4
Hello world 5
Hello world 6
Hello world 7
Hello world 8
Hello world 9
Hello world 10
Hello world 11
Hello world 12
Hello world 13
Hello world 14
Hello world 15
Hello world 16
Hello world 17
Hello world 18
Hello world 19
Hello world 20
Hello world 21
Hello world 22
Hello world 23
Hello world 24
Hello world 25
Hello world 26
Hello world 27
Hello world 28
Hello world 29
Hello world 30
Hello world 31
Hello world 32
Hello world 33
Hello world 34
Hello world 35
Hello world 36
Hello world 37
Hello world 38
Hello world 39
Hello world 40
Hello world 41
Hello world 42
Hello world 43
Hello world 44
Hello world 45
Hello world 46
Hello world 47
Hello world 48
Hello world 49
Hello world 50
Hello world 51
Hello world 52
Hello world 53
Hello world 54
Hello world 55
Hello world 56
Hello world 57
Hello world 58
Hello world 59
Hello world 60
Hello world 61
Hello world 62
Hello world 63
Hello world 64
Hello world 65
Hello world 66
Hello world 67
Hello world 68
Hello world 69
Hello world 70
Hello world 71
Hello world 72
Hello world 73
Hello world 74
Hello world 75
Hello world 76
Hello world 77
Hello world 78
Hello world 79
Hello world 80
Hello world 81
Hello world 82
Hello world 83
Hello world 84
Hello world 85
Hello world 86
Hello world 87
Hello world 88
Hello world 89
Hello world 90
Hello world 91
Hello world 92
Hello world 93
Hello world 94
Hello world 95
Hello world 96
Hello world 97
Hello world 98
Hello world 99
Hello world 100

## 연습문제 3

In [89]:
print("실행결과:")

print([i for i in range(5, 10)])
print([i for i in range(0, 10, 3)])
print([i for i in range(-10, -80, -30)])

print(list(range(5,10)))
print(list(range(0,10,3)))
print(list(range(-10,-100,-30)))

실행결과:
[5, 6, 7, 8, 9]
[0, 3, 6, 9]
[-10, -40, -70]
[5, 6, 7, 8, 9]
[0, 3, 6, 9]
[-10, -40, -70]

## 연습문제 4

In [121]:
print("실행결과: ")
num = int(input("자연수 하나 입력해 주세요"))

for i in range(num, 0, -1):
    for j in range(i):
        print(i, end = "\t")
    print()

실행결과:

자연수 하나 입력해 주세요 6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

``` python
for _ in range(6):
    print(6, end = "\t")
print()
for _ in range(5):
    print(5, end = "\t")
print()
for _ in range(4):
    print(4, end = "\t")
print()
for _ in range(3):
    print(3, end = "\t")
print()
for _ in range(2):
    print(2, end = "\t")
print()
for _ in range(1):
    print(1, end = "\t")
print()
```

In [140]:
print("실행결과: ")
num = int(input("자연수 하나 입력해 주세요"))

for i in range(num):
    print(" " * (num-i), "*"*(i*2 -1))

실행결과:

자연수 하나 입력해 주세요 10

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************

In [155]:
print("실행결과: ")

for i in range(10):
    if i == 0 or i == 9:
        print("* " * 10)
    else:
        print("*                 *")

실행결과:
* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

## 연습문제 5

In [196]:
n = int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다."))
sum = 1
print(1, end = "")
for i in range(2, n + 1):
    if i % 2 != 0:
        sum += i 
        print(" +", i , end = "")

print(" =", sum)

1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다. 100

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 = 2500

In [197]:
n = int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다."))
sum = 0
for i in range(1, n + 1):
    if i % 2 != 0:
        sum += i
        if i == n or i == (n-1):
            print(i, end = "")
        else:
            print(i, "+ ", end = "")

print(" =", sum)

1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다. 100

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 = 2500

In [198]:
n = int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다."))
sum = 0
for i in range(1, n + 1):
    if i % 2 != 0:
        sum += i
        if i == n or i == (n-1):
            print(i, end = " = ")
        else:
            print(i, end = " + ")

print(sum)

1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다. 100

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 = 2500

## 연습문제 6

In [208]:
print("실행결과:")
n = int(input("계승을 구할 숫자를 입력하시오"))
fact = 1
for i in range(1, n + 1):
    fact *= i
print(fact)

실행결과:

계승을 구할 숫자를 입력하시오 7

5040

In [219]:
def fact(n):
    if n > 1:
        return n * fact(n-1)
    else:
        return 1
print(fact(4))

24

## 연습문제 7
제시된 리스트의 값을 for문을 활용하여 10배씩 증가시킨 후 아래의 실행 결과와 같이 출력  
x = [10, -42, 25, 103, 21, 77, 24]  

실행결과:  
100 -420 250 1030 210 770 240

In [222]:
x = [10, -42, 25, 103, 21, 77, 24]
for i in x:
    print(i*10, end = " ")

100 -420 250 1030 210 770 240

## 연습문제 8
사용자로부터 자연수를 입력받아 그 숫자의 구구단을 출력하는 프로그램을 구현하기

In [231]:
print("실행결과:")
n = int(input("구구단을 알려드립니다. 숫자를 입력하세요"))
for i in range(1, 10):
    print(n,"*", i, "=", i*n)

실행결과:

구구단을 알려드립니다. 숫자를 입력하세요 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

## 연습문제 9
사용자로부터 자연수를 입력 받아 1부터 입력된 자연수까지의 합을 구하는 프로그램을 구현하기

In [1]:
print("실행 결과:")

n = int(input("자연수를 입력하세요"))
sum = 0
for i in range(1, n+1):
    sum += i    
print(sum)

실행 결과:

자연수를 입력하세요 21

231

## 연습문제 10
for문 안에 for문을 중첩하여 "\*" 문자로 5\*5 사각형을 그려보세요

In [7]:
# 이중 for문
print("실행결과:")
for i in range(5):
    for j in range(5):
        print("*", end = "")
    print()

실행결과:
*****
*****
*****
*****
*****

In [9]:
# 단일 for문
print("실행결과:")
for i in range(5):
    print("*****")

실행결과:
*****
*****
*****
*****
*****

# while

## 연습문제 1

In [11]:
i = 2
while i <= 100:
    print(i, end = '\t')
    i += 2

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100

In [13]:
n = int(input("구구단을 알려드립니다. 숫자를 입력하세요"))
i = 1
while i <= 9:
    print(n,"*", i, "=", n * i)
    i += 1

구구단을 알려드립니다. 숫자를 입력하세요 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

## 연습문제 2
사용자로부터 학생의 숫자와 학생 성적을 입력 받는다. 학생 성적 평균을 구하는 프로그램을 while 문으로 구현

In [48]:
print("실행결과: ")

student = int(input("학생의 수:"))
i = 1
sum = 0
while i <= student :
    score = int(input(str(i)+ "번 학생의 점수:"))
    sum += score
    i += 1
print("평균: ", sum/student, "점", sep = "")

실행결과:

학생의 수: 3
1번 학생의 점수: 77
2번 학생의 점수: 88
3번 학생의 점수: 99

평균: 88.0점

In [51]:
print("실행결과: ")
score = []
student = int(input("학생의 수:"))
sum = 0
i =0
while i <= len(score) :
    score.append(int(input("학생의 점수")))
    sum += score[i]
    i += 1
print("평균: ", sum/len(score), "점", sep = "")

실행결과:

학생의 수: 3
학생의 점수 77
학생의 점수 88
학생의 점수 99

KeyboardInterrupt: Interrupted by user

학생의 점수 ew

## 연습문제 3
A학급의 수학 점수가 다음과 같을 때 while문 조건식에 len()함수를 사용하여 이 학급의 평균점수를 구하는 프로그램을 구현

In [65]:
class_a = (70, 60, 55, 75, 95, 90, 80, 80, 85, 100)
total = 0
i = 0
while i < len(class_a):
    total += class_a[i]
    i += 1
print(total / len(class_a))

79.0

## 연습문제 4
0부터 100까지 자연수의 총합을 구하는 프로그램을 구현하기 
- while 문과 break를 활용해서 작성

In [71]:
i = 0 
total = 0
while True:
    total += i
    i += 1
    if i > 100:
        break
print(total)

5050

## 연습문제 5
아래 소스코드를 완성하여 0부터 100 사이의 숫자 중 3으로 끝나는 숫자만 출력되게 만드세요

In [90]:
i = 0
while True:
    if i > 100:
        break
    i += 1
    if i % 10 != 3: 
        continue
    print(i, end = " ")

3 13 23 33 43 53 63 73 83 93

In [95]:
i = 0
while True:
    if i % 10 != 3:
        i += 1
        continue
    if i > 100:
        break
    print(i, end = " ")
    i += 1

3 13 23 33 43 53 63 73 83 93

## 연습문제 6
1부터 10까지의 순서대로 줄을 바꾸지 않고 출력 값마다 뒤에 공백을 표시

In [103]:
#for문
for i in range(1, 11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [102]:
#while문
i = 1
while i <= 10:
    print(i, end = " ")
    i += 1

1 2 3 4 5 6 7 8 9 10

## 연습문제 7

In [105]:
print("실행결과: ")

n = int(input("시작하는 정수 입력: "))
m = int(input("끝나는 정수 입력: "))
total = 0
for i in range(n, m+1):
    total += i
print(n,"부터", m, "까지의 합은", total, "입니다.")

실행결과:

시작하는 정수 입력:  1
끝나는 정수 입력:  10

1 부터 10 까지의 합은 55 입니다.

In [107]:
print("실행결과: ")

n = int(input("시작하는 정수 입력: "))
m = int(input("끝나는 정수 입력: "))
total = 0
i = n
while i <= m:
    total += i
    i += 1
print(n,"부터", m, "까지의 합은", total, "입니다.")

실행결과:

시작하는 정수 입력:  1
끝나는 정수 입력:  10

1 부터 10 까지의 합은 55 입니다.
1부터 10까지의 합은 55입니다.

##### n, m, total은 변수명  
##### f스트링은 3.6버전부터 지원가능

In [108]:
print(f'{n}부터 {m}까지의 합은 {total}입니다.')

1부터 10까지의 합은 55입니다.

## 연습문제 8
두 자연수 n부터 m을 입력뱓고, n부터 m까지의 수 중 짝수들의 제곱의 합을 구하세요

In [121]:
print("실행결과")

start = int(input("시작하는 정수 입력:"))
end = int(input("끝나는 정수 입력:"))
i = n
total = 0
while i <= end :
    if i % 2 == 0:
        total += (i**2)
    i += 1
print(f'{start}부터 {end}까지의 합은 {total}입니다.')

실행결과

시작하는 정수 입력: 4
끝나는 정수 입력: 7

4부터 7까지의 합은 52입니다.

In [126]:
print("실행결과")
start = int(input("시작하는 정수 입력:"))
end = int(input("끝나는 정수 입력:"))
i = start
total = 0
while i <= end :
    if i % 2 == 0:
        total += (i**2)
    i += 1
print(f'{start}부터 {end}사이의 짝수 제곱의 합은 {total}입니다.')

실행결과

시작하는 정수 입력: 4
끝나는 정수 입력: 7

4부터 7사이의 짝수 제곱의 합은 52입니다.

## 연습문제 9 
어떤 학급의 국어 점수가 다음과 같을 때 반복문을 이용하여 A학급의 평균 점수 구하기

In [128]:
kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for i in range(len(kor)):
    total += kor[i]
print(total/len(kor))

79.0

In [129]:
kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for i in kor:
    total += i
print(total/len(kor))

79.0

In [127]:
kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
i = 0
while i < len(kor):
    total += kor[i]
    i += 1
print(total/len(kor))

79.0

## 연습문제 10
10 미만의 자연수에서 3과 5의 배수를 구하면 3, 5, 6, 9 입니다.  
이들의 총합은 23입니다.   
1000미만의 자연수에서 3의배수와 5의 배수의 총합을 구하세요.   
(for/while 모두 작성)

In [130]:
print("실행결과:")
total = 0
for i in range(1, 1000):
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

실행결과:
233168

In [1]:
print("실행결과:")
total = 0
i = 1
while i < 1000:
    if i % 3 == 0 or i % 5 == 0:
        total += i
    i += 1
print(total)

실행결과:
233168

## 연습문제 11
5명의 시험관이 채점한 어느 학생의 실기 시험 점수를 입력 받아 scores라는 lst를 만듭니다. (split(), map(), list() 사용)  
공정성을 위해 최고 점수와 최저점수는 제외하고 나머지 점수들의 합계를 총점으로 반영  
이 학생의 최종 실기 평균을 구하세요

In [43]:
# for문
scores = list(map(int, input("실기점수를 입력하세요:").split()))
large = scores[0]
small = scores[0]
total = 0
for i in range(len(scores)):
    total += scores[i]
    if large < scores[i]:
        large = scores[i]

    if small > scores[i]:
        small = scores[i]

total = total - (small + large)
print(f'이 학생의 평균 점수는 {total / (len(scores)-2)} 입니다.')

실기점수를 입력하세요: 70 50 85 98 82

이 학생의 평균 점수는 79.0 입니다.

In [35]:
print(small)
print(large)

50
98

In [53]:
# while문
scores = list(map(int, input("실기점수를 입력하세요:").split()))
large, small = scores[0], scores[0]
total = 0
i = 0
while i < len(scores):
    total += scores[i]
    if large < scores[i]:
        large = scores[i]
        
    if small > scores[i]:
        small = scores[i]
    i += 1      
total = total - (small + large)
print(f'이 학생의 평균 점수는 {total / (len(scores)-2)} 입니다.')

실기점수를 입력하세요: 70 50 85 98 82

385
이 학생의 평균 점수는 79.0 입니다.

In [50]:
scores = list(map(int, input("실기점수를 입력하세요:").split())) 
tot = 0
for i in range(len(scores)):
    tot += scores[i]
tot = tot - (max(scores) + min(scores))
print(f'이 학생의 평균 점수는 {tot / (len(scores)-2)} 입니다.')

실기점수를 입력하세요: 70 50 85 98 82

이 학생의 평균 점수는 79.0 입니다.

## 연습문제 12
파이썬 대학교에서는 다음과 같이 학생들의 점수에 따라 학점을 부여  
- 85 ~100점: A학점  
- 70 ~ 84점: B학점  
- 55 ~ 69점: C학점  
- 40 ~ 54점: D학점  
- 0 ~ 39점: F학점   
A, B, C, D, F 학점을 받은 학생들의 수로 grade_counter라는 이름의 리스트를 만들어 출력할 수 있도록 다음의 코드를 완성   
점수리스트 [86, 72, 98, 60, 45]

In [64]:
grade = list(map(int, input("점수 리스트").split()))
grade_counter = [0, 0, 0, 0, 0]

for i in grade:
    if 85 <= i <= 100:
        grade_counter[0]+= 1 #A학점
    elif 70 <= i < 85:
         grade_counter[1] += 1 #B학점
    elif 55 <= i < 70:
         grade_counter[2] += 1 #C학점
    elif 40 <= i < 55: 
         grade_counter[3] += 1 #D학점
    else:
         grade_counter[4] += 1 #F학점
print(grade_counter)

점수 리스트 86 72 98 60 45

[2, 1, 1, 1, 0]

In [67]:
grade = [86, 72, 98, 60, 45]
grade_counter = [0, 0, 0, 0, 0]

for i in grade:
    if i >= 85:
        grade_counter[0] += 1 #A학점
    elif i >= 70:
         grade_counter[1] += 1 #B학점
    elif i >= 55:
         grade_counter[2] += 1 #C학점
    elif i >= 40: 
         grade_counter[3] += 1 #D학점
    else:
         grade_counter[4] += 1 #F학점
print(grade_counter)

[2, 1, 1, 1, 0]

## 연습문제 13

In [72]:
for i in range(1, 101):
    if i % 15 == 0 :
        print("FizzBuzz", end = '\t')
    elif i % 3 == 0:
        print("Fizz", end = '\t')
    elif i % 5 == 0:
        print("Buzz", end = '\t') 
    else: print(i, end = '\t')

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [96]:
# or에서 True를 만나면 뒤에 것을 안 봐도 됨
for i in range(1, 101):
    print("Fizz" * (i % 3 == 0) + "Buzz" * (i % 5 == 0) or i, end = '\t')

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz	1
0
1

In [98]:
#빈 문자열은 False 처럼 취급된다 
print(int(True))
print(int(False))
print("" or 1)

1
0
1

## 연습문제 14
학생들의 이름이 들어있는 명단이 name_list라는 리스트 형태로 주어질 때 이름에 '**m**' 또는 '**h**'가 들어있는 학생의 수를 구하려고 합니다.   
예를 들어 'jo**h**n'에는 '**h**'가 들어 있으며, '**m**att**h**ew'에는 '**m**'과 '**h**'가 모두 들어있습니다.   
(m과 h 모두 들어있는 이름은 하나로 취급)   
- name_list = ['matthew', 'mark', 'luke','john','paul','peter']

In [100]:
name_list = ['matthew', 'mark', 'luke','john','paul','peter']
count = 0
for i in name_list:
    if 'm' in i or 'h' in i:
        count += 1
print(f'm 또는 h가 이름에 포함된 사람은 {count} 명 입니다.')

m 또는 h가 이름에 포함된 사람은 3 명 입니다.

## 연습문제 15
총 5명의 학생이 시험을 보았습니다. 시험 점수가 60점을 넘어 합격한 사람에게만 축하메시지를 보내는 프로그램을 구현합니다.(불합격자에게는 메시지를 띄우지 않습니다.)  
(for / while 모두 작성, continue 활용)

In [108]:
student = list(map(int, input("점수를 입력하세요:").split()))

for i in range(len(student)):
    if student[i] < 60:
        continue
    print((i+1), "번 학생 축하합니다. 합격입니다.")

점수를 입력하세요 90 25 67 45 80

1 번 학생 축하합니다. 합격입니다.
3 번 학생 축하합니다. 합격입니다.
5 번 학생 축하합니다. 합격입니다.

In [114]:
student = list(map(int, input("점수를 입력하세요:").split()))
i = 0
while i < len(student):
    if student[i] < 60:
        i += 1
        continue 
    i += 1
    print(i, "번 학생 축하합니다. 합격입니다.")

점수를 입력하세요 90 25 67 45 80

1 번 학생 축하합니다. 합격입니다.
3 번 학생 축하합니다. 합격입니다.
5 번 학생 축하합니다. 합격입니다.

##### continue 없이

In [115]:
student = list(map(int, input("점수를 입력하세요:").split()))
i = 0
while i < len(student):
    if student[i] >= 60:
        print(i+1, "번 학생 축하합니다. 합격입니다.")
    i += 1

점수를 입력하세요: 90 25 67 45 80

1 번 학생 축하합니다. 합격입니다.
3 번 학생 축하합니다. 합격입니다.
5 번 학생 축하합니다. 합격입니다.

In [200]:
student = list(map(int, input("점수를 입력하세요:").split()))

for i in range(len(student)):
    if student[i] >= 60:
        print((i+1), "번 학생 축하합니다. 합격입니다.")

점수를 입력하세요: 34 34 23 34 2

## 연습문제 17
주어진 리스트의 순서를 뒤집으려고 합니다. 주어진 리스트는 [1, 4, 2, 3]이며, 순서를 뒤집은 리스트 [3, 2, 4, 1]입니다.   
정수가 들어있는 리스트 arr을 뒤집어서 인쇄하도록 빈칸을 채워 전체코드를 완성

In [118]:
arr = [1, 4, 2, 3]
left, right = 0, len(arr) - 1
while left < right:
    arr[left], arr[right] = arr[right], arr[left]
    left += 1
    right -= 1
    
    
print('변환된 arr은', arr, "입니다.")

변환된 arr은 [3, 2, 4, 1] 입니다.

In [122]:
arr = [0, 2, 1, 3, 4]
left, right = 0, len(arr) - 1
while left < (len(arr)//2) :
    arr[left], arr[right] = arr[right], arr[left]
    left += 1
    right -= 1
    
print('변환된 arr은', arr, "입니다.")

변환된 arr은 [4, 3, 1, 2, 0] 입니다.

## 연습문제 18

In [148]:
for i in range(1, 10):
    for j in range(2, 10):
        print(f' {j} x {i} = {i*j}', end = '\t')
    print()

 2 x 1 = 2	 3 x 1 = 3	 4 x 1 = 4	 5 x 1 = 5	 6 x 1 = 6	 7 x 1 = 7	 8 x 1 = 8	 9 x 1 = 9
 2 x 2 = 4	 3 x 2 = 6	 4 x 2 = 8	 5 x 2 = 10	 6 x 2 = 12	 7 x 2 = 14	 8 x 2 = 16	 9 x 2 = 18
 2 x 3 = 6	 3 x 3 = 9	 4 x 3 = 12	 5 x 3 = 15	 6 x 3 = 18	 7 x 3 = 21	 8 x 3 = 24	 9 x 3 = 27
 2 x 4 = 8	 3 x 4 = 12	 4 x 4 = 16	 5 x 4 = 20	 6 x 4 = 24	 7 x 4 = 28	 8 x 4 = 32	 9 x 4 = 36
 2 x 5 = 10	 3 x 5 = 15	 4 x 5 = 20	 5 x 5 = 25	 6 x 5 = 30	 7 x 5 = 35	 8 x 5 = 40	 9 x 5 = 45
 2 x 6 = 12	 3 x 6 = 18	 4 x 6 = 24	 5 x 6 = 30	 6 x 6 = 36	 7 x 6 = 42	 8 x 6 = 48	 9 x 6 = 54
 2 x 7 = 14	 3 x 7 = 21	 4 x 7 = 28	 5 x 7 = 35	 6 x 7 = 42	 7 x 7 = 49	 8 x 7 = 56	 9 x 7 = 63
 2 x 8 = 16	 3 x 8 = 24	 4 x 8 = 32	 5 x 8 = 40	 6 x 8 = 48	 7 x 8 = 56	 8 x 8 = 64	 9 x 8 = 72
 2 x 9 = 18	 3 x 9 = 27	 4 x 9 = 36	 5 x 9 = 45	 6 x 9 = 54	 7 x 9 = 63	 8 x 9 = 72	 9 x 9 = 81

In [152]:
i = 0
while i < 9 :
    j = 1
    i += 1
    while j < 9:
        j += 1
        print(j,"x", i, "=", i*j , end = '\t')        
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

# dictionary

## 연습문제 1

In [175]:
dict_fruits = {"apple": 1000, 
    "banana": 700,
    "orange": 1500,
    "pineapple": 2000}
fruit = input("과일 이름을 입력하세요:")
price = dict_fruits[fruit]
print(f'{fruit}의 가격은 {price}원 입니다.')

과일 이름을 입력하세요: pineapple

pineapple의 가격은 2000원 입니다.

In [172]:
dict1 = dict( 사과 = 1000, 바나나 = 700, 오렌지 = 1500, 파인애플 = 2000 )
name = input("과일 이름을 입력하세요:")
price = dict1[name]
print(f'{name}의 가격은 {price}원 입니다.')

과일 이름을 입력하세요: 사과

사과의 가격은 1000원 입니다.

## 연습문제 2
input() 함수를 통해 이름 값 여럿을 입력 받는다. 이름을 입력 받고 난 후에 이름 순서와 개수를 동일하게 몸무게 값을 입력 받는다.   
이름(str)을 키(key)로 몸무게(float)를 값(value)으로 하는 딕셔너리 자료형을 만들고 결과를 출력해보라

In [203]:
name = input("이름을 입력해 주세요:").split()
weight = list(map(float, input("몸무게를 입력해주세요").split()))
print(type(weight))
dict_char = dict(zip(name, weight))
print(dict_char)

이름을 입력해 주세요: 뽀로로 크롱 스누피 루피
몸무게를 입력해주세요 20.4 16.2 22.3 5.2

<class 'list'>
{'뽀로로': 20.4, '크롱': 16.2, '스누피': 22.3, '루피': 5.2}

In [206]:
name = input("이름을 입력해 주세요:").split()
weight = map(float, input("몸무게를 입력해주세요").split())
print(weight)
dict_char = dict(zip(name, list(weight)))
print(dict_char)

이름을 입력해 주세요: 뽀로로 스누피 크롱 루피
몸무게를 입력해주세요 12.2 1.22 12.2 12.3

<map object at 0x00000252BA3443A0>
{'뽀로로': 12.2, '스누피': 1.22, '크롱': 12.2, '루피': 12.3}

**zip 안 쓰고 만들기**  
개수가 동일하면 상관이 없는데 개수가 동일하지 않을 때 list는 index에 민감해서 안 될수도 있다   
딕셔너리 자료형에 없는 키를 활용하여 값을 할당하면 딕셔너리 자료형에 새로운 키와 값의 쌍이 추가되는 것을 활용

In [210]:
#["뽀로로","루피","크롱","스누피"]
names = input("이름을 입력해 주세요:").split()
#[20.1, 16.2, 25.2, 5.3]
weights = list(map(float, input("몸무게를 입력해주세요").split()))
dict_character = {}
# len(names) = 4
# range(4) --> 0, 1, 2, 3
# i --> i = 0 반복 , i = 1 반복, i = 2 반복, i = 3 반복
for i in range(len(names)):
    dict_character[names[i]] = weights[i]
print(dict_character)

이름을 입력해 주세요: 뽀로로 루피 크롱 스누피
몸무게를 입력해주세요 16.2 20.1 15.2 5.3

{'뽀로로': 16.2, '루피': 20.1, '크롱': 15.2, '스누피': 5.3}

# 리스트 컴프리헨션
## 연습문제 1
리스트 컴프리헨션을 활용해서 1부터 9까지 숫자의 제곱을 답는 리스트를 만들어보세요.

In [211]:
prac_result = [i**2 for i in range(1, 10)]
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]